archs4
*.pdf
*.pptx
*.ai
*.docx
*.png
*.eps
*.zip
archived
archived/*
FoundationalARCHS4/splits.zip
results/*.zip
preprocessing/preprocessed_data/drug_landmarks.csv
preprocessing/preprocessed_data/CellPairs/drug_landmarks.csv
preprocessing/preprocessed_data/drug_triplets_dataset.rds
preprocessing/preprocessed_data/drug_quadruplets_dataset.rds
learning/evaluate_tissue.py
learning.evaluate_tissue.sh
.Rproj.user
