*.pdf
*.pptx
*.ai
*.docx
*.png
*.eps
*.zip
archived
archived/*
FoundationalARCHS4
FoundationalARCHS4/*
results/*.zip
preprocessing/preprocessed_data/drug_landmarks.csv
preprocessing/preprocessed_data/CellPairs/drug_landmarks.csv
preprocessing/preprocessed_data/drug_triplets_dataset.rds
preprocessing/preprocessed_data/drug_quadruplets_dataset.rds
